
  

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $font-family;
    font-size: 1.8rem;
}
a{
    text-decoration: none !important;
}
ul,li{
     margin: 0;
    padding: 0;
    list-style: none;
}
 