@keyframes demoprogress1{
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
}
@keyframes demoprogress2{
    0%{
        width:0%;
    }
    100%{
        width:75%;
    }
}
@keyframes demoprogress3{
    0%{
        width:0%;
    }
    100%{
        width:40%;
    }
}
@keyframes demoprogress4{
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }
}
@keyframes demoprogress5{
    0%{
        width:0%;
    }
    100%{
        width:65%;
    }
}
@keyframes demoprogress6{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}